[user]
	name = nasu-hayato
	email = nasu_hayato@cygames.co.jp
[color]
	diff = auto
	status = auto
	branch = auto
	grep = auto
[core]
	excludesfile = .gitignore
	autocrlf = true
[push]
	default = current
[alias]
	st = status
	co = checkout
	ci = commit
	di = diff
	br = branch
	puhs = push
	psuh = push
	pus = push
	puh = push
